{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

{% block mainmenu %}
{% if messages %}
{% for message in messages %}
<p {% if message.tags %}, class="alter alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
<h1>Profile Page</h1>

<h3>Welcome to your Profile {{name}}</h3>

{% block logo %}

{% endblock logo %}

{% endblock mainmenu %}
